:root {
  color-scheme: light;
}

html, body, #root {
  height: 100%;
}

body {
  margin: 0;
  background: #f6f7fb; /* fondo suave tipo app */
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Links más consistentes */
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
